.div-center {
    display: table;
    margin: 0 auto;
}

.div-center img {
    width: 10rem;
}

.buttons-group {
    display: flex;
}

.buttons-group button:first-child {
    margin-right: 8px;
}

a, div, img, p, button, h1 {
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.question_card {
    border: 3px solid rgb(179, 158, 75);
    width: 70%;
    margin: 0 auto;
    text-align: center;
    max-width: 500px;
}

.question_text {
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
    color: rgb(14, 14, 58);
}

.answer_card, .answer_card_wrong, .answer_card_correct {
    text-align: left;
    font-size: 22px;
    background-color: rgb(255, 248, 220);
    border: 1px solid rgb(179, 158, 75);
    display: flex;
}

.answer_card_correct {
    background-color: #bcf088;
}

.answer_card_wrong {
    background-color: crimson;
}

.answer_card:hover, .menu_item:hover {
    background-color: rgb(255, 255, 255);
}

.answer_container {
    padding: 10px 10px;
    display: flex;
}

.answer_number {
    margin-right: 10px;
    font-weight: 200;
    color: rgb(150, 150, 150);
}

.loadingContainer {
    text-align: center;
    color: rgb(150, 150, 150);
    font-size: 55px;
}

.current_question {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

.test_summary_container {
    text-align: center;
    margin: 0 auto;
    width: 70%;
    font-size: 30px;
    border: 6px solid rgb(179, 158, 75);
}

.menu_container {
    text-align: center;
    margin: 0 auto;
    width: 70%;
    font-size: 30px;
    border: 6px solid rgb(179, 158, 75);
}

.menu_item {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:  rgb(255, 204, 0);
    border-top: 3px solid rgb(27, 22, 0)
}

.beta {
    color: red;
    font-weight: 400;
}