.div-center {
    display: table;
    margin: 0 auto;
}

.div-center img {
    width: 10rem;
}

.buttons-group {
    display: flex;
}

.buttons-group button:first-child {
    margin-right: 8px;
}

a, div, img, p, button, h1 {
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.question_card {
    border: 3px solid rgb(179, 158, 75);
    width: 70%;
    margin: 0 auto;
    text-align: center;
    max-width: 500px;
}

.question_text {
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
    color: rgb(14, 14, 58);
}

.answer_card_correct {
    background-color: #bcf088;
}

.answer_card_correct p:hover {
    background-color: #bcf088;
}
.answer_card_wrong {
    background-color: crimson;
}

.answer_container {
    padding: 10px 10px;
    display: flex;
}

.answer_number {
    margin-right: 10px;
    font-weight: 200;
    color: rgb(150, 150, 150);
}

.loadingContainer {
    text-align: center;
    color: rgb(150, 150, 150);
    font-size: 55px;
}

.current_question {
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}

.beta {
    color: red;
    font-weight: 400;
}

.button {
    border-radius: 10px;
    background-color: #0707078a;
    color: white;
    text-align: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin: 40px auto;
    padding: 20px 5px;
    width: 200px;
}

.button:hover {
    background-color: #07070742;
}

.panel_old {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    min-width: 300px;
    width: 90%;
    font-size: 25px;
    background-color: rgb(245, 227, 157);
    color: rgb(99, 88, 44);
    border: 2px solid rgb(179, 158, 75);
    border-radius: 10px;
}

.panel {
    width: 90%;
    box-Shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    margin: auto;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    padding: 10px;
}

.panel h2 {
    font-size: 30px;
    font-weight: 400;
    color: #0b0c69;
}

.panel h1 {
    color: #0b0c69;
}

.panel_lighter {
    background-color: rgb(255, 248, 220);
}

.panel_title {
    font-size: 25px;
    text-align: center;
}

.panel_list {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.vertical_centered {

}

.background {
    width: 100%;
    height: 100%;
    background-color: rgb(88, 76, 6);
    margin: 0 auto;
}

.time_circle {
    background-color: white;
    width: 0px;
    height: 0px;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    margin-left: 30px;
    margin-bottom: 50px;
    position: absolute;
    border-radius: 50%;
    color: rgb(99, 88, 44, 0);
    font-size: 30px;
}

.test {
    background-color: red;
}

.inline {
    display: flex;
}

.expand_hor {
    width: 100%;
}

.center {
    margin: auto auto;
}

.center-vertically {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-hor {
    text-align: center;
}

.question_num {
    background-color: #0707078a;
    padding: 10px;
    color: white;
    font-weight: 300;
    border-radius: 10px;
}

.poll_card {
    margin-top: 10px;
    padding: 5px;
}

.poll_card td {
    margin-right: 5px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    color: rgb(148, 129, 77);
}

.poll_card table {
    margin: auto auto;
    display: flex;
    flex-wrap: wrap;
}

.poll_card p {
    font-size: 25px;
    padding: 0px;
    margin: 10px 0px;
}

.custom_answer div, input{
    display: inline-block;
}

.custom_answer {
    margin: auto;
}

.button_field {
    font-size: 18px;
    padding: 20px;
    margin: 0px 0px;
    width: 100px;
    background-color: rgb(55, 55, 122);
    height: 18px;
    border-bottom-left-radius: 0ex;
    border-top-left-radius: 0ex;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    min-width: 200px;
    height: 50px;
    border: 3px solid rgb(55, 55, 122);
    font-size: 25px;
    text-decoration: none;
}

.dark {
    background-color: rgb(243, 234, 196);
}

padding10 {
    padding: 10px;
}

.flex {
    display: flex;
}

.card_container {
    width: 350px;
    height: 350px;
    background-color: rgb(255, 248, 220);
}

.white_color h1 {
    color: white;
}
.white_color h3 {
    color: white;
}
.white_color a {
    color: white;
}
.white_color p {
    color: white;
}

.secondary-text {
    color: rgb(127, 127, 127);
    font-size: 24px;
}

.level-chooser {
    background-color: white;
    padding: 0;
    color: rgb(25, 25, 55);
    box-Shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 25px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.level-chooser a {
    color: rgb(25, 25, 55);
}

.level-chooser p {
    padding: 15px 25px;
    margin: 0px;
    color: rgb(25, 25, 55);
    border-bottom: 1px solid rgb(25, 25, 55);
}

.level-chooser p:last-of-type {
    border-bottom: 0;
}

a {
    text-decoration: none;
    color:inherit;
}

.menu_item:hover {
    background-color: rgb(233, 233, 256);
}

.header {
    background-color: rgb(34, 34, 92);
    position:fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    color: white;
}

.header h3 {
    font-weight: 200;
    font-size: 20px;
    display: inline-block;
    padding: 0px 25px;
    flex: 1;
    width: 200px;
}

.header a {
    text-decoration: none;
    color:inherit;
}

.poll_option {
    background-color: rgba(100, 100, 223, 0.45);
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 15px;
}

.poll_option:hover {
    background-color: rgba(100, 100, 223, 0.205);
}

@keyframes overflow {
    from {width: 60%}
    to {width: 200%}
}

@keyframes shrink {
    from {width: 80%; display: block;}
    to {width: 0%; display: none;}
}

#root {
    background-color: rgb(55, 55, 122);
}



#header_menu {
    text-align: right;
    flex: 4;
    padding-right: 16px;
}

#menu_sign_block a {
    padding-right: 10px;
}

.label_header {
    color: white;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.label_subheader {
    color: rgba(255, 248, 248, 0.486);
    font-weight: 200;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.content {
    padding-top: 70px;
    height: 100%;
}

.card {
    background: rgba(0,0,0,.14);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: white;
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: 4px;
    margin-bottom: 1rem;
    width: 30%;
}

.center-hor-content {
    margin: auto;
}

.learnit-button {
    width: 200px;
    font-size: 25px;
}

.flex {
    display: flex;
}

.half-column {
    flex: 1;
}

.gap40 {
    margin-left: 20px;
    margin-right: 20px;
}

.locked {
    background-color: #04000fa4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.locked:hover {
    background-color: #04000f67;
    cursor: pointer;
}

.padding36 {
    padding: 36px;
}

delimiter::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 1px rgba(255, 255, 255, 0.767) solid;
}

delimiter {
    margin: 0 20px;
}

.clickable:hover {
    cursor: pointer;
}